.form label{
    margin: 3px 0;
    font: 100 0.8vmax "Roboto", sans-serif;
}

.form select{
  margin-bottom: 15px;
  padding: 5px;
  font: 100 0.8vmax "Roboto", sans-serif;
  border: 0.5px solid rgb(200, 200, 198);
}