.wrapper {
    border-radius: 10px;
}

.containerBar {
    background-color: rgb(120, 120, 120);
    border-radius: 10px;
}

.barCompleted {
    background-color: rgb(15, 152, 237);
    border-radius: 10px;
    width: 40%;
}