.mcd {
  border-radius: 13px;
}
.mcd i {
  position: absolute;
  /* top: 50%; */
  left: -15px;
  width: 170px;
  height: 50px;
  background: #6366f1;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.mcd i::before {
  content: "";
  position: absolute;
  top: 50px;
  width: 15px;
  height: 25px;
  background: #4338ca;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 2;
}

.mcd i::after {
  content: "";
  position: absolute;
  top: 50px;
  width: 15px;
  height: 15px;
  background: #6366f1;
  z-index: 1;
}
